RewriteEngine On
RewriteBase /

##for apiKey
RewriteRule .? - [E=Authorization:%{HTTP:Authorization}]

#RewriteCond %{THE_REQUEST} /public/index.php/([^\s?]*) [NC]
#RewriteRule ^ %1 [L,NE,R=302]

RewriteRule ^public/bundles/(.*)$ /gra/public/bundles/$1 [R=301,NC,L]
RewriteRule ^images/(.*)$ /gra/public/images/$1 [NC,L]
RewriteRule ^admin((?!public/).*)$ gra/public/index.php/$1 [L,NC]
RewriteRule ^api(.*)$ gra/public/index.php/$1 [L,NC]
RewriteRule ^login_register_api(.*)$ gra/public/index.php/$1 [L,NC]


<Files ".env">
        Order Deny,Allow
        Deny from all
        Allow from localhost
        Allow from 127.0.0.1
</Files>


